{{> header}}

<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead">
        <div class="inner">
            <h3 class="masthead-brand">LOTO6</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link " href="/">番号生成</a>
                <a class="nav-link active" href="#">当選番号分析</a>
                <a class="nav-link" href="history">歴代当選番号</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <p class="lead">確率別当選回数</p>
        <div class="row mb-2">
            <div class="col-6">確率台</div>
            <div class="col-6">当選回数</div>
        </div>
        {{#rateDistribution}}
            <div class="row mb-2">
                <div class="col-6">{{key}}%</div>
                <div class="col-6">{{value}}回</div>
            </div>
        {{/rateDistribution}}

        <p class="lead">数字の出現確率（平均 {{averageRate}}%)</p>
        <div class="row mb-2">
            <div class="col-6">番号</div>
            <div class="col-6">出現確率</div>
        </div>
        {{#rateTable}}
            <div class="row mb-2">
                <div class="col-6">{{key}}</div>
                <div class="col-6">{{value}}%</div>
            </div>
        {{/rateTable}}
    </main>
</div>
</body>

{{> footer}}